ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}
body { background-image:url(../images/background3.jpg); font-family:Georgia,serif;  text-align: center;}
a { color:black; }
a:hover { color:grey; }
a img { border:none; }
p { margin: 10px 0; }
pre{
	font-size: 200%;
}

#wrapper { 
	position: absolute;
	width:800px;
	margin-left: 0px;
	margin-top: 15px; 
	background-image: url(../images/backwapper.jpg);
	 background-repeat: no-repeat;
    background-position: bottom right;
}
#parent{
	width: 1200px;
	margin:0 auto;
}
#messageparent{
	position: absolute;
	margin-left: 815px;
	margin-top: 15px;
	width:380px;
	height: 900px;
	float: right;


}
#messagehead{
	position: absolute;
	margin-left: 0px;
	margin-top: 75px;
	width:380px;
	height: 150px;

}
#messagemid{
	position: absolute;
	margin-left: 0px;
	margin-top: 165px;
	width:380px;
	height: 50px;

}
#message{
	position: absolute;
	margin-left: 0px;
	margin-top: 215px;
	width:380px;
	height: 700px;
	overflow-y:scroll;
	background-image: url(../images/messageback.gif);


}
.meng{
	font-size: 50%;
	margin-right: 200px;
	background-color: #00EC00;
	text-align: left;
	border-radius: 5px;
    border-color: white;
}
.wo{
	font-size: 50%;
	margin-left: 200px;
	background-color: #6699FF;
	text-align: right;
	border-radius: 5px;
    border-color: white;
}