body, td, ul, li { 
	margin:0; padding:0 
}

table { 
	border-collapse: collapse; 
	border-spacing:0 
}

#container {
 width:800px;
 height:200px; 
 position:relative; 
 overflow: hidden; 
 margin:0 auto; 
}

#scroller { 
	position:absolute; 
}

#page { 
	position: absolute; 
	float:right; 
	left:710px; 
	top:180px;
}

#page li { 
	float:left; 
	cursor:pointer; 
	list-style:none; 
	width:15px; 
	height:15px; 
	line-height:15px; 
	font-family:Arial; 
	font-size:12px; 
	margin:1px; 
	text-align:center;
	background:url("../../images/flashbutton.gif") no-repeat scroll -15px 0 transparent;
}

#page li.on {
	background:url("../../images/flashbutton.gif") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
}

h1 {
  font-family: "宋体", "微软雅黑";
  font-size:        300%;
  text-shadow: 5px 5px 5px #FF0000;
  color:            #66FF66;
  position:absolute;
	top:70px;
	left:100px;
	width:400px;
	height:100px;
}